<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatRoom</title>

    <link rel="stylesheet" href="http://localhost:3000/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>



<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1,maximum-scale=1">
<div class="container">
  <div class="menu">
<div class="friends-container">

  <span onclick= backToChats() >Back To Chats</span>    

</div><!--end friends-container-->
</div><!--end menu-->
<div class="chatbox">
  <div class="conversation" id="conversationBox">
    {{#each messages}}
        {{#if this.isDeleted}}
            <p>This message has been deleted</p>
        {{else}}
            {{#if this.isPinned}}
                <p id="item{{this.id}}">
                    {{this.fromUser}}: {{this.body.filePath}}
                    <button value="{{this.id}}" onclick="deleteMsg({{this.id}})"><i class="fas fa-trash"></i> Delete</button>   
                    <button onclick="unpinMsg({{this.id}})"><i class="fas fa-thumbtack" id="unpinBtn{{this.id}}"></i>Unpin</button>                    
                    <p id="pinned{{this.id}}"><************ Pinned Message ********></p>
                </p>
            {{else}}
                {{#if this.body.filePath}}
                <p id="item{{this.id}}">
                    {{this.fromUser}}: {{this.body.filePath}} 
                    <button value="{{this.id}}" onclick="deleteMsg({{this.id}})"><i class="fas fa-trash"></i> Delete</button>   
                    <button onclick="pinMsg({{this.id}})" id="pinBtn{{this.id}}"><i class="fas fa-thumbtack"></i> Pin</button>
                </p> 

            {{else}}
                <p id="item{{this.id}}">
                    {{this.fromUser}}: {{this.body.text}} 
                    <button value="{{this.id}}" onclick="deleteMsg({{this.id}})"><i class="fas fa-trash"></i> Delete</button>   
                    <button onclick="pinMsg({{this.id}})" id="pinBtn{{this.id}}"><i class="fas fa-thumbtack"></i> Pin</button>
                </p>

            {{/if}}
            {{/if}}
            
        {{/if}}
    {{/each}}
  </div>
  <div class="sms-box">
      <input class="sms-send" name="text" id="messageInput" placeholder="type..."/>
    <button class="send" id="submitBtn">send</button>
  </div>
</div><!--end chatbox-->
</div><!--end container-->



<script>
    const backToChats = ()=> {
        window.location.replace("/view/chat")
    }
</script>
<script src="/socket.io/socket.io.js"></script>
<script src="http://127.0.0.1:3000/client.js"></script>
</body>
</html>